<h2>Structural Directives</h2>

<div [ngSwitch]='time'>
    <span *ngSwitchCase="'night'">It's night time</span>
    <span *ngSwitchCase="'day'">It's day time</span>
    <span *ngSwitchDefault>Its ? time</span>
</div>

<br><br>

<div (click)='changeCondition()'>
<p *ngIf='condition'>Condition is met</p>
<p *ngIf='!condition'>Condition is not met</p>
</div>

<br><br>

<h5>Here is a list of my cats</h5>
<ul>
  <li *ngFor='let cat of cats'>#{{cat.id}} {{cat.name}}</li>
</ul>

<h5>Here is a table with all of my cats</h5>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <tr *ngFor='let cat of cats'>
    <td>{{cat.id}}</td>
    <td>{{cat.name}}</td>
  </tr>
</table>

