<div class="container-fluid bg-white min-vh-100 min-vw-100">
    <div class = "row vh-100">

        <div class="col-3">

            <app-nav></app-nav>

        </div>

        <div class = "col-9 p-0 vh-100">

<!--
            <div class="row">

                <div class = "col">

                    <app-highlight></app-highlight>
                    
                </div>

                <div class = "col">

                    <app-profile></app-profile>

                </div>

                <div class = "col">

                    <app-select></app-select>

                </div>

            </div>

            <div class="row">

                <div class = "col">

                    <app-table></app-table>
                    
                </div>

                <div class = "col">

                    <app-user></app-user>

                </div>

            </div>-->

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
