<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
  	<filter-name>EmployeeFilter</filter-name>
  	<display-name>EmployeeFilter</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.EmployeeFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>ManagerFilter</filter-name>
  	<display-name>ManagerFilter</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.ManagerFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>ModelsFilter</filter-name>
  	<display-name>ModelsFilter</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.ModelsFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AllowedResources</filter-name>
  	<display-name>AllowedResources</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.AllowedResources</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EmployeeFilter</filter-name>
  	<url-pattern>/EmployeeFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ManagerFilter</filter-name>
  	<url-pattern>/ManagerFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ModelsFilter</filter-name>
  	<url-pattern>/ModelsFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AllowedResources</filter-name>
  	<url-pattern>/AllowedResources</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>ManagerHomeServlet</servlet-name>
  	<display-name>ManagerHomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerEmployeeServlet</servlet-name>
  	<display-name>ManagerEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.ManagerEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllEmployeesServlet</servlet-name>
  	<display-name>AllEmployeesServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.AllEmployeesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeHomeServlet</servlet-name>
  	<display-name>EmployeeHomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.employee.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeProfileServlet</servlet-name>
  	<display-name>EmployeeProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.employee.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeReimbursmentServlet</servlet-name>
  	<display-name>EmployeeReimbursmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.employee.EmployeeReimbursmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterEmployee</servlet-name>
  	<display-name>RegisterEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.RegisterEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserAccount</servlet-name>
  	<display-name>UserAccount</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.models.UserAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementServlet</servlet-name>
  	<display-name>ReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.models.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthorityServlet</servlet-name>
  	<display-name>AuthorityServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.models.AuthorityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordResetServlet</servlet-name>
  	<display-name>PasswordResetServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.PasswordResetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FrontControllerServlet</servlet-name>
  	<display-name>FrontControllerServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.FrontControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterEmployee</servlet-name>
  	<url-pattern>/RegisterEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserAccount</servlet-name>
  	<url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementServlet</servlet-name>
  	<url-pattern>/ReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthorityServlet</servlet-name>
  	<url-pattern>/AuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordResetServlet</servlet-name>
  	<url-pattern>/PasswordResetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FrontControllerServlet</servlet-name>
  	<url-pattern>/FrontControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>/static/*</url-pattern>
   </servlet-mapping>
</web-app>
