<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.LoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>EmployeeFilter</filter-name>
  	<display-name>EmployeeFilter</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.EmployeeFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>ManagerFilter</filter-name>
  	<display-name>ManagerFilter</display-name>
  	<description></description>
  	<filter-class>com.revature.ers.filters.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EmployeeFilter</filter-name>
  	<url-pattern>/EmployeeFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ManagerFilter</filter-name>
  	<url-pattern>/ManagerFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerHomeServlet</servlet-name>
  	<display-name>ManagerHomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerEmployeeServlet</servlet-name>
  	<display-name>ManagerEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.ManagerEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllEmployeesServlet</servlet-name>
  	<display-name>AllEmployeesServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.manager.AllEmployeesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeHomeServlet</servlet-name>
  	<display-name>EmployeeHomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.employee.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeProfileServlet</servlet-name>
  	<display-name>EmployeeProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.employee.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeReimbursmentServlet</servlet-name>
  	<display-name>EmployeeReimbursmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.employee.EmployeeReimbursmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
